<div class="calender-cls card-outer">
    <div class="d-flex align-items-center justify-content-between cal-header-outer">
        <span> CALENDER </span>
        <button value="Create Event" class="btn custom-btn">+ Create Event</button>
    </div>
    <div class="row">
        <div class="col-lg-6 justify-content-center">
            <jqxCalendar [height]="300" [enableTooltips]="true" (onChange)="myCalendarEvent($event)" #eventCalender></jqxCalendar>
        </div>
        <div class="col-lg-6">
          <div #calenderPanel class="timeline-unit-outer">
              <div class="timeline-unit" *ngFor="let index of selectedDateEvents">
                  <div class="timeline-flag timeline-flag-full">✓</div>
                  <div class="timeline-data">
                    <p>{{ index.StartTime }}</p>
                    <p class="heading">{{ index.EventType }} ------ </p>
                    <p>{{ index.EventCode }}</p>
                  </div>
              </div>
              <div *ngIf="!selectedDateEvents?.length > 0" class="timeline-unit  justify-content-center"><span>Events Not Found</span></div>
              <!-- <div class="timeline-unit">
                  <div class="timeline-flag timeline-flag-full">✓</div>
                  <div class="timeline-data">
                    <p>11:30 AM</p>
                    <p class="heading">Lorem ipsum init sit amet</p>
                    <p>Lorem ipsum init sit amet Lorem ipsum init sit amet</p>
                  </div>
              </div>
              <div class="timeline-unit">
                  <div class="timeline-flag timeline-flag-full">✓</div>
                  <div class="timeline-data">
                    <p>14:00 AM</p>
                    <p class="heading">Lorem ipsum init sit amet</p>
                    <p>Lorem ipsum init sit amet Lorem ipsum init sit amet</p>
                  </div>
              </div> -->
          </div>
        </div>
    </div>
</div>
<div class="row ">
  <div class="col-lg-6">
      <div class="card-outer">
          <div class="d-flex justify-content-stretch">
              <div class="event-indicator violet">
                <span>{{ draftCount }}</span> Upcoming Events
              </div>
              <div class="slider-outer">
                <ngb-carousel *ngIf="testArray" class="indicator">
                    <ng-template ngbSlide>
                        <div class="user-data-outer">
                            <p class="date-outer">
                                Feb 24, 2019 11:30 a.m. - Feb 25, 2019 12:30 p.m.
                            </p>
                            <div class="d-flex justify-content-between">
                              <div class="user-data">
                                  <p class="heading">DD-IO-DRM104382-02</p>
                                  <p><strong>John Smith,</strong> Owner</p>
                                  <p>1817 Farnum Road New York, NY 10022</p>
                              </div>
                              <div class="user-role">
                                <p><strong>Orlando Wheeler</strong></p>
                                <p>Speaker</p>
                              </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="user-data-outer">
                          <p class="date-outer">
                              Feb 26, 2019 12:30 p.m - Feb 27, 2019 12:30 p.m.
                          </p>
                          <div class="d-flex justify-content-between">
                            <div class="user-data">
                                <p class="heading">DD-IO-DRM104382-02</p>
                                <p><strong>John Smith,</strong> Owner</p>
                                <p>1817 Farnum Road New York, NY 10022</p>
                            </div>
                            <div class="user-role">
                              <p><strong>Orlando Wheeler</strong></p>
                              <p>Consultant</p>
                            </div>
                          </div>
                      </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="user-data-outer">
                        <p class="date-outer">
                            Feb 24, 2019 11:30 a.m. - Feb 25, 2019 12:30 p.m.
                        </p>
                        <div class="d-flex justify-content-between">
                          <div class="user-data">
                              <p class="heading">DD-IO-DRM104382-02</p>
                              <p><strong>Orlando Wheeler,</strong> Owner</p>
                              <p>1817 Farnum Road New York, NY 10022</p>
                          </div>
                          <div class="user-role">
                            <p><strong>John Smith</strong></p>
                            <p>Speaker</p>
                          </div>
                        </div>
                    </div>
                    </ng-template>
                </ngb-carousel>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-6">
      <div class="card-outer">
          <div class="d-flex justify-content-stretch">
              <div class="event-indicator sky-blue">
                <span>{{ pendingCount }}</span> Pending Events
              </div>
              <div class="slider-outer">
                <ngb-carousel *ngIf="testArray" class="indicator">
                    <ng-template ngbSlide>
                        <div class="user-data-outer">
                            <p class="date-outer">
                                Feb 24, 2019 11:30 a.m. - Feb 25, 2019 12:30 p.m.
                            </p>
                            <div class="d-flex justify-content-between">
                              <div class="user-data">
                                  <p class="heading">DD-IO-DRM187945-54</p>
                                  <p><strong>Maria Brown,</strong> Owner</p>
                                  <p>1941 Wayback Lane Manhattan, NY 10107</p>
                              </div>
                              <div class="user-role">
                                <p><strong>Jean Sampson</strong></p>
                                <p>Speaker</p>
                              </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="user-data-outer">
                          <p class="date-outer">
                              Feb 26, 2019 12:30 p.m - Feb 27, 2019 12:30 p.m.
                          </p>
                          <div class="d-flex justify-content-between">
                            <div class="user-data">
                                <p class="heading">DD-IO-DRM104382-02</p>
                                <p><strong>John Smith,</strong> Owner</p>
                                <p>1817 Farnum Road New York, NY 10022</p>
                            </div>
                            <div class="user-role">
                              <p><strong>Orlando Wheeler</strong></p>
                              <p>Consultant</p>
                            </div>
                          </div>
                      </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="user-data-outer">
                        <p class="date-outer">
                            Feb 24, 2019 11:30 a.m. - Feb 25, 2019 12:30 p.m.
                        </p>
                        <div class="d-flex justify-content-between">
                          <div class="user-data">
                              <p class="heading">DD-IO-DRM187945-54</p>
                              <p><strong>Maria Brown,</strong> Owner</p>
                              <p>1941 Wayback Lane Manhattan, NY 10107</p>
                          </div>
                          <div class="user-role">
                            <p><strong>Jean Sampson</strong></p>
                            <p>Speaker</p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                </ngb-carousel>
              </div>
          </div>
      </div>
  </div>
</div>
