<div class="row">
  <div class="col-lg-6">
      <div class="card-outer">
          <div class="d-flex justify-content-stretch">
              <div class="event-indicator violet">
                <span>12</span> Upcoming Events
              </div>
              <div class="event-indicator-list">
                <ul>
                  <li>
                    <p>Lorem ipsum</p>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                  </li>
                  <li>
                      <p>Lorem ipsum</p>
                      <p>Lorem ipsum dolor sit amet, consectetur.</p>
                    </li>
                </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-6">
      <div class="card-outer">
          <div class="d-flex justify-content-stretch">
              <div class="event-indicator sky-blue">
                <span>12</span> Upcoming Events
              </div>
              <div class="event-indicator-list">
                  <ul>
                    <li>
                      <p>Lorem ipsum</p>
                      <p>Lorem ipsum dolor sit amet, consectetur.</p>
                    </li>
                    <li>
                        <p>Lorem ipsum</p>
                        <p>Lorem ipsum dolor sit amet, consectetur.</p>
                      </li>
                  </ul>
                </div>
          </div>
      </div>
  </div>
</div>
