<div class="signin-container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
        <div class="d-flex justify-content-end social_icon">
          <span> <fa name="facebook-square"></fa></span>
          <span><fa name="google-plus-square"></fa></span>
          <span><fa name="twitter-square"></fa></span>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="signInForm">
          <div [ngClass] = "{'input-error-cls' :(!signInForm.get('userName').touched || signInForm.get('userName').valid), 'input-group' : true,'form-group':true}">
            <div class="input-group-prepend">
              <span class="input-group-text"><fa name="user"></fa></span>
            </div>

            <input   type="text" formControlName="userName" class="form-control" placeholder="username">
          </div>
          <div class="input-error-cls red-color-cls" *ngIf="signInForm.get('userName').touched
          && signInForm.get('userName').invalid">Please enter valid username.</div>
          <div [ngClass] = "{'input-error-cls' :(!signInForm.get('password').touched || signInForm.get('password').valid), 'input-group' : true,'form-group':true}">
            <div class="input-group-prepend">
              <span class="input-group-text"><fa name="key"></fa></span>
            </div>
            <input   type="password" formControlName="password" class="form-control" placeholder="password">
          </div>
          <div class="input-error-cls red-color-cls" *ngIf="signInForm.get('password').touched
          && signInForm.get('password').invalid">Please enter valid password.</div>
          <div class="row align-items-center remember">
            <input [disabled]="true" type="checkbox">Remember Me
          </div>
          <div class="form-group">
            <input type="submit" (click)="login()" value="Login" class="btn float-right login_btn" [disabled]='!signInForm.valid'>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a href="/user/signup">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="javascript:void(0);" (click)="forgotPasswordHandler(
          )" >Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
