<div class="signup-container">
    <div class="d-flex justify-content-center signup-h-100">
        <div class="card">
          <form [formGroup]="signUpForm">
            <div class="card-header">
                <h3>Sign Up</h3>
            </div>
            <div class="card-body">
                <!-- First Name Start-->
                <div [ngClass] = "{'input-error-cls' :(!sf.firstName.touched || sf.firstName.valid), 'input-group' : true,'form-group':true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><fa name="user"></fa></span>
                    </div>
                    <input matInput  type="text"  formControlName="firstName" class="form-control" placeholder="First Name" >
                </div>
                <mat-error *ngIf="sf.firstName.touched && sf.firstName.errors?.required">This is required field.</mat-error>
                <mat-error *ngIf="sf.firstName.errors?.characterError">Only characters.</mat-error>
                <!-- First Name End-->

                <!-- Last Name Stat-->
                <div [ngClass] = "{'input-error-cls' :(!sf.lastName.touched || sf.lastName.valid), 'input-group' : true,'form-group':true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><fa name="user"></fa></span>
                    </div>
                    <input matInput type="text"  formControlName="lastName" class="form-control" placeholder="Last Name">
                </div>
                <mat-error *ngIf="sf.lastName.touched && sf.lastName.errors?.required">This is required field.</mat-error>
                <mat-error *ngIf="sf.lastName.errors?.characterError">Only characters.</mat-error>
                <!-- Last Name End-->
                <!-- DOB Start-->
                <div [ngClass] ="{'input-error-cls' :(!sf.dob.touched || sf.dob.valid), 'input-group' : true,'form-group':true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><fa name="user"></fa></span>
                  </div>
                  <input matInput [matDatepicker]="picker" placeholder="DOB"  formControlName="dob" class="form-control mat-input-cls">
                  <mat-datepicker-toggle  class="date-picker-toggle-cls" matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
                <mat-error *ngIf="sf.dob.touched && sf.dob.errors?.required">This is required field.</mat-error>
                <!-- DOB End-->
                <!-- <div [ngClass] = "{'input-error-cls' :(!signUpForm.get('gender').touched || signUpForm.get('gender').valid), 'input-group' : true,'form-group':true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><fa name="user"></fa></span>
                    </div>
                    <label class="label-signup-cls"> Gender </label>
                    <mat-radio-group formControlName="gender">
                      <mat-radio-button class="radioCls" value="auto">Male</mat-radio-button>
                      <mat-radio-button  class="radioCls" value="always">Female</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="input-error-cls red-color-cls" *ngIf="signUpForm.get('gender').touched
                      && signUpForm.get('gender').invalid">This is required field.</div> -->

                <!-- country Start-->
                <div [ngClass] ="{'input-error-cls' :(!sf.country.touched || sf.country.valid), 'input-group' : true,'form-group':true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><fa name="user"></fa></span>
                    </div>
                    <mat-select placeholder="Country" class="form-control" formControlName="country">
                      <mat-option value="option">India</mat-option>
                      <mat-option value="option">US</mat-option>
                    </mat-select>
                </div>
                <mat-error *ngIf="sf.country.touched && sf.country.errors?.required">This is required field.</mat-error>
                <!-- country End-->
                <!-- Password start-->
                <div [ngClass] = "{'input-error-cls' :(!sf.password.touched || sf.password.valid), 'input-group' : true,'form-group':true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><fa name="user"></fa></span>
                  </div>
                  <input matInput type="text"  formControlName="password" class="form-control" placeholder="password">
                </div>
                <mat-error *ngIf="sf.password.touched && sf.password.errors?.required">This is required field.</mat-error>
                <!-- password End-->
                <!-- Confirm  password Start-->
                <div [ngClass] = "{'input-error-cls' :(!sf.confirmPassword.touched || sf.confirmPassword.valid), 'input-group' : true,'form-group':true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><fa name="user"></fa></span>
                  </div>
                  <input matInput type="text"  formControlName="confirmPassword" appConfirmEqualValidator="password" class="form-control" placeholder="confirm password">
                </div>
                <mat-error *ngIf="sf.confirmPassword.touched && sf.confirmPassword.errors?.required">This is required field.</mat-error>
                <mat-error *ngIf="sf.confirmPassword.errors?.notEqual">Password Mismatch</mat-error>


                <!-- Confirm password End-->
                <!-- Email Start-->
                <div [ngClass] = "{'input-error-cls' :(!sf.email.touched || sf.email.valid), 'input-group' : true,'form-group':true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><fa name="user"></fa></span>
                  </div>
                  <input matInput type="text" formControlName="email"  class="form-control" placeholder="Email">
                </div>
                <mat-error *ngIf="sf.email.touched && sf.email.errors?.required">This is required field.</mat-error>
                <mat-error *ngIf="sf.email.touched && sf.email.errors?.emailError">Email must be a valid email address.</mat-error>
                <!-- Email End-->
                <div class="input-group form-group-otp">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><fa name="user"></fa></span>
                    </div>
                    <div class="checkbox d-flex justify-content-end" >
                       <input matInput  class="form-control" type="text" formControlName="otpNum" placeholder="enter otp"> <input class="input-otp-cls" type="button"  (click)="emailVerficationHandler()"value="Get OTP" >
                    </div>
                </div>

            </div>
            <div fxLayoutAlign="center center" class="card-footer">
                <input type="button" [disabled]="!signUpForm.valid" value="Submit" (click)="registerUserHandler()" class="btn float-right login_btn">
                <div style="width:20px;float:right"></div>
                <input type="button" value="Cancel" (click)="cancelSignupHandler()" class="btn float-right login_btn">
            </div>
          </form>
        </div>
    </div>
</div>
