<main>
  <!-- <mat-spinner class="spinner-cls"></mat-spinner> -->
  <div class="admin-container d-flex align-items-stretch">
    <div class="sidenav" [ngClass]="getClasses(isHidden)">
          <div class="logo-outer">
              <a href="javascript:;"><img src="../../assets/images/logo.png" /></a>
          </div>
          <nav>
            <ul>
              <li>
                <a  (click)= "OnNavTabClick('home')" [ngClass]=" ('home'=== isNavTabClick) ? 'active' : ''">Home</a>
              </li>
              <li>
                <a  (click)= "OnNavTabClick('profile')" [ngClass]=" ('profile' === isNavTabClick) ? 'active' : ''">Profile</a>
              </li>
              <li>
                <a   (click)= "OnNavTabClick('about')"  [ngClass]=" ('about' === isNavTabClick) ? 'active' : ''">About</a>
              </li>
              <li>
                <a (click)= "OnNavTabClick('logout')"  [ngClass]=" ('logout' === isNavTabClick) ? 'active' : ''">Logout</a>
              </li>
            </ul>
          </nav>
      </div>
    <div class="main-container d-flex flex-column">
        <div class="header header d-md-flex justify-content-md-between align-items-md-center">
          <div class="header-search-outer">
              <a href="javascript:;" (click)="menuToggleHandler()" [ngClass]="getClass(isHidden)"><img src="../../assets/images/menu.png" /></a>
              <!-- <input type="search" placeholder="Search" class="search-input" /> -->
          </div>
          <nav class="header-nav-outer">
              <ul>
                <li>
                  <a href="javascript:;"><img src="../../assets/images/msg-icon.png" /></a>
                </li>
                <li>
                  <a href="javascript:;"><img src="../../assets/images/notification-icon.png" /></a>
                </li>
                <li>
                  <a href="javascript:;"><img src="../../assets/images/user-icon.png" /></a>
                </li>
              </ul>
          </nav>
        </div>
      <div class="main-content">
          <router-outlet></router-outlet>
      </div>
      <div class="copyrights">
          Copyright © Event Manager 2019
      </div>
    </div>
  </div>

</main>




